numpy
mlflow
geopandas
scikit-learn
scikit-image
torch
torchvision
torchmetrics
lightning
einops
seaborn
streamlit
rich
click
gdown
omegaconf
python-dotenv
hydra-core
copernicusmarine
rasterio

pyproj
xarray
cartopy
netCDF4 
h5py
roaring-landmask
cmocean
geojson
coloredlogs
copernicusmarine
nc-time-axis
pykdtree
utm
xhistogram
scipy
psutil
flet
opendrift
os
matplotlib